<!DOCTYPE html>
<html>
<head>
    <title>FIED - @ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Ceres admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets." />
    <meta name="keywords" content="Ceres theme, bootstrap, bootstrap 5, admin themes, free admin themes, bootstrap admin, bootstrap dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Ceres HTML Free - Bootstrap 5 HTML Multipurpose Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/products/ceres-html-pro" />
    <meta property="og:site_name" content="Keenthemes | Ceres HTML Free" />
    <link rel="canonical" href="Https://preview.keenthemes.com/ceres-html-free" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->

    <link href="~/Content/ceres/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/Content/ceres/assets/css/style.bundle.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />

    <link href="~/Content/lib/sweet-alert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
</head>
<body id="kt_body" style="background-image: url(/Content/img/logo-foro.jpg)" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-enabled">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                @Html.Partial("_LayoutHeader")
                <!--end::Header-->
                <!--begin::Toolbar-->
                @Html.Partial("_LayoutToolbar")
                <!--end::Toolbar-->
                <!--begin::Container-->
                <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
                    <!--begin::Post-->
                    <div class="content flex-row-fluid" id="kt_content">
                        <!--begin::Index-->
                        <div class="card card-page">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Row-->

                                @RenderBody()


                                <!--end::Row-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Index-->
                    </div>
                    <!--end::Post-->
                </div>
                <!--end::Container-->
                <!--begin::Footer-->

                @Html.Partial("_LayoutFooter")

                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->

    <!--begin::Scrolltop-->
    @Html.Partial("_LayoutScrollTop")
    <!--end::Scrolltop-->
    <!--end::Main-->

    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/ceres/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Content/ceres/assets/js/scripts.bundle.js"></script>

    <script src="~/Content/ceres/assets/js/custom/widgets.js"></script>

    <script src="~/Content/lib/sweet-alert/sweetalert2.min.js"></script>

    <script src="~/Content/lib/moment/moment.min.js"></script>
    <script src="~/Content/lib/moment/moment-mx.min.js"></script>
    <script src="~/Content/lib/validate/jquery.validate.min.js"></script>

    <script src="~/Content/js/base/_tools.js"></script>
    <script src="~/Content/js/base/_config.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>